<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>

<table>
    <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
  </tr>
</thead>

  <tbody>
    {% for i in details %}
    <tr>
        <td style="padding:10px;">{{i.name}}</td>
        <td style="padding:10px;">{{i.email}}</td>
        <td style="padding:10px;">{{i.phone}}</td>
        <td style="padding:10px;">{{i.address}}</td>
        <td style="padding:10px;"><a href="/update/{{i.id}}/">Edit</a></td>
        <td style="padding:10px;"><a href="{% url 'delete' i.pk %}">Delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
</body>

</html>


  
